.toolwindow-container {
    grid-column: 2 / 3;
    width: 100dvw;
    height: 100dvh;
    position: absolute;

    &.desktop {
        grid-column: 1 / 2;
    }

    .toolwindow-between {
        margin-top: 2rem;

        &.desktop {
            display: flex;
            overflow-y: auto;
        }

        &.dashboard {
            display: flex;

            .toolwindow {
                height: 100%;
                overflow-y: auto;
                background-color: rgb(246, 246, 246);
            }
        }

        &.mobile {
            .toolwindow {
                background-color: rgb(246, 246, 246);
            }
        }

        .toolwindow {
            pointer-events: auto;
            background-color: white;
            border-radius: .8rem;
            box-shadow: 0 12px 30px -8px rgba(0,0,0,0.30);
            overflow: hidden;

            transition: height 1s ease-in;

            .slot {
                overflow: hidden;
                padding: 0 1rem !important;
                max-width: 100%;

                &.removed {
                    opacity: 0;
                    height: 0;
                    padding: 0; /* Ensure padding collapse for height reduction */
                    margin: 0;
                    //transition: opacity 0.3s ease-in, height 0.1s ease, padding 0.1s ease, margin 0.1s ease;
                }
            }

            &.with-top-border-radius  {
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
            }
        }
    }

    &.left {
        grid-column: 1;
    }

    &.right {
        grid-column: 3;
    }

    .header {
        padding: 0;
    }

    .footer {
        padding: 1rem;
    }
}
