.v-label, .vue-label-style, .v-expansion-panel-header, .ql-editor.ql-blank::before {
    font-size: 12px !important;
    color: #403d3d !important;
}

.v-text-field .v-label {
    //padding-left: 5px;
}

.vue-label-style.label-subheader {
    margin-bottom: 10px;
}

.table-tools {
    width: 40px !important;
}

#login-component {
    //left: 50% !important;
}

// Will put dashboard window into the center of the screen
.tool-window-vue {
    //left: var(--currentPadding) !important;
}

#table-nav-main {
    flex: 0 0 auto;
    max-width: unset;
    padding: 5px;

    background-color: rgba(0, 0, 0, 0);
    background-color: white;
}

#table-tools, #table-category-list {
    background-color: white;
}

#table-tools-menu, #table-nav-cat-panel {
    background-color: white;
}

.icon-burgermenu_alt.collapsed::before {
    color: #73c1a9;
}

.table-nav-layers-panel {
    z-index: 10;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(115, 193, 169, 0.0);
}

#table-nav-layers-panel-toggler {
    background-color: #f5f5f5 !important;

    .icon-cross1:before {
        color: rgba(0, 0, 0, .87) !important;
    }
}

.pill-button {
    min-width: 23px !important;
    width: 23px !important;
    padding: 0;

    .v-btn__content {
        border: 2px solid #707070;
        border-radius: 10px;
        height: 35px;
        padding-top: 1px;
        font-size: 15px;

        .v-icon {
            height: 18px !important;
            font-size: 18px !important;
            font-weight: bold;
        }
    }
}

.pill-button.horizontal {
    min-height: 23px !important;
    height: 23px !important;
    min-width: 35px !important;
    border-radius: 10px;
    padding-left: 1px;

    .v-btn__content {
        height: 22px !important;
        width: 35px !important;
    }
}

.pill-button.horizontal.add-step {
    .v-btn__content {
        border: 2px solid #893d05;

        .v-icon {
            color: #893d05;
        }
    }
}

.pill-button.horizontal.chapter-indicator {
    .v-btn__content {
        border: none;
        color: white;
        padding-bottom: 2px;
        font-weight: bolder;
        cursor: default;
    }
}

.pill-button.step-indicator {
    .v-btn__content {
        border: 2px solid;
        background-color: white;
        padding-bottom: 2px;
        font-weight: bolder;
        cursor: default;
    }
}

.pill-button.step-indicator-big {
    width: 26px !important;

    .v-btn__content {
        height: 45px;
        border-radius: 20px;
    }
}
